<%- include('partials/header'); -%>

<h1>Contact Me</h1>



      <h3>Sam Holschuh</h3>
      <p>720-979-3644</p>
      <a class="contactInfo" href=mailto:samholschuh@gmail.com>Email Me</a> <br>
      <a class="contactInfo" href="https://www.linkedin.com/in/samantha-holschuh-188149154/">Linkedin</a>




<%- include('partials/footer'); -%>
